body {
    font-family: 'Courier New', Courier, monospace
}

.img-fluid {
    max-width: 500px;
    margin-bottom: 20px;
}

.img-fluid.horizontal {
    max-width: 1000px;
}

h5 {
    margin-top: 30px;
}